doctype html
html 
    head 
        title this is the user admin adding page 
    body 
        h1 Login form
        div 
            span Contact number :
            input(type="text" size="30px" maxlength="10" id="contactNumber")
            span Email :
            input(type="text" size="30px" id="email")
            span Password :
            input(type="password" size="30px" id="password")
            button(id="submit") Submit
            script(src="add.js")